.sidebar ul {
  border: 1px solid black;
  height: 100%; 
  position: left; 
  overflow: auto;
}

li.underline {
  list-style-type: none;
  text-decoration: underline;
}

.row { 
  float: right !important;
}