ul.sidebar {
  border: 1px solid black;
  height: 100%; 
  position: absolute; 
  overflow: auto;
  padding: 10px;
}

li.underline {
  list-style-type: none;
  text-decoration: underline;
}

.nav {
  margin-left: 15%;
}

.row {
  margin-left: 15%;
}
