ul.sidebar {
  border: 1px solid black;
  height: 100%; 
  position: absolute; 
  overflow: auto;
  padding: 10px;
}

.well {
  margin: 10px;
  height: auto;
  display: flex;
  justify-content: space-between;
}

li.underline {
  list-style-type: none;
  text-decoration: underline;
}

.nav {
  margin-left: 15%;
}

.row {
  margin-left: 15%;
}
.center {
  text-align: center;
  width: 50%;
}

.right-side {
  width: 50%;
  display: flex;
  align-items: center;
 
}

ul.column {
  list-style-position: inside;
  float: right;
}

#airplane {
  width: 150px;
  height: auto;
  float: right;
}